<div class="ui middle aligned center aligned grid">
  <div style="max-width:40vw">
    <div class="ui container">
      <h2 class="ui green center aligned icon header">
        <i class="green pencil icon"></i>
        <div class="content">
          Edit List
        </div>
      </h2>
      <div class="ui green segment">
        <%= form_with model: @list, class: 'ui form' do |f| %>
          <div class="field">
            <div class="ui input">
              <%= f.text_field :name, placeholder: 'Name' %>
            </div>
          </div>

          <%= f.date_field :due_date, include_blank: true, default: nil %><br><br>

          <%= f.submit class: 'ui green fluid button' %>
        <% end %><br>

        <a href="<%= list_path(list) %>"><button class="ui fluid button">Cancel</button></a><br>
      </div>
    </div>
  </div>
</div>