<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Assigned User</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>Categories</th>
    </tr>
  </thead>
  <tbody>
    <% list.items.each do |item| %>
      <tr>
        <td><%= item.content %></td>
        <td><%= item.assigned_user.username %></td>
        <td><%= item.priority %></td>
        <td><%= item.due_date.strftime("%b %e, %Y") %></td>
        <td><%= item.categories.map { |c| c.name }.join(', ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>