<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Assigned User</th>
      <th>Priority</th>
      <th>Due Date</th>
      <th>Categories</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% list.items.each do |item| %>
      <tr <%= "style=text-decoration:line-through" if item.complete %>>
        <td><%= item.content %></td>
        <td><%= item.assigned_user.username %></td>
        <td><%= item.priority %></td>
        <td><%= item.due_date.strftime("%b %e, %Y") if item.due_date %></td>
        <td><%= item.categories.map { |c| c.name }.join(', ') %></td>
        <td><%= button_to item.check_off_status, list_item_check_item_path(list, item), method: :post, params: { from_user: true } %></td>
      </tr>
    <% end %>
  </tbody>
</table>