<%= form_tag("/lists/#{@list.id}", method: "get") do %>
  <select name="option" id="">
    <% sort_options.each do |so| %>
      <option value="<%= so %>"><%= so %></option>
    <% end %>
  </select>

  <%= text_field_tag "criteria" %>

  <%= submit_tag "Sort" %>
<% end %>

<%= render partial: 'list_header', locals: { list: @list } %>

<%= render partial: 'list_with_edit', locals: { list: @list, items: @items }%>

<%= button_to "Add Item", new_list_item_path(@list), method: :get %>

<%= button_to "Update List Members", list_update_members_path(@list), method: :get %>

<%= button_to "Edit List Properties", edit_list_path(@list), method: :get %>

<% if @list.is_owner?(current_user) %>
  <%= button_to "Delete List", list_path(@list), method: :delete, data: { confirm: "Are you sure you want to delete this list?" } %>
<% end %>

<%= button_to "Back to Lists", user_path(current_user), method: :get %>