<ul style="color: red">
  <% if !flash[:message].nil? %>
    <li><%= flash[:message] %><br><br></li>
  <% end %>
</ul>

<%= form_with url: '/verify', method: :post do |f| %>
  <%= f.label :username %>
  <%= f.text_field :'login[username]' %><br>

  <%= f.label :password %>
  <%= f.password_field :'login[password]' %><br>

  <%= f.submit "Login" %>
<% end %>