<% if @group.errors.any? %>
  <ul style="color: red">
    <% @group.errors.full_messages do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @group do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.hidden_field :user_id, :value => @user.id %>

<%= f.submit%>
<%end%>