<div class="ui middle aligned center aligned grid">
  <div style="max-width:80vw">
    <h1>Group Info</h1>
    <div class="ui segment">
      <div class="ui relaxed divided list">
        <div class="item">
          <div class="header">
            <%= group.name %>
          </div>
        </div>
        <% group.users.each do |user| %>
          <div class="item">
            <i class="large green user middle aligned icon"></i>
            <div class="content">
              <%= link_to user.username, user_path(user) %>
            </div>
          </div>
        <% end %>
      </div>
        
        <a href="<%= group_update_members_path(group) %>"><button class="ui button">Update Members</button></a>
        <a href="<%= edit_group_path(group) %>"><button class="ui button">Edit Group</button></a><br><br>
        <%= button_to "Delete Group", group_path(group), method: :delete, class: "red ui fluid button", data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div> 

    



