<div class="ui middle aligned center aligned grid">
  <div style="max-width:40vw">
    <div class="ui container">
      <h2 class="ui green center aligned icon header">
        <i class="green user circle icon"></i>
        <div class="content">
          Sign Up
        </div>
      </h2>
      <div class="ui segment">
        <%= form_with model: @user, class: "ui form" do |f| %>
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :username, placeholder: 'Username' %><br>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="address card icon"></i>
              <%= f.text_field :name, placeholder: 'Name' %><br>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <%= f.text_field :email, placeholder: 'Email' %><br>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, placeholder: 'Password' %><br>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
            </div>
          </div>

          <div class="field">
            <%= f.submit "Sign Up", class: "ui green fluid button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>