<h1>Username: <%= @user.username %></h1>
<h1>Name: <%= @user.name %></h1>
<h1>Email: <%= @user.email %></h1>

<%= button_to "Your Groups", user_groups_path(@user), method: :get %><br>

<% @user.lists.each do |list| %>
  <% if list.users.include? current_user %>
    <%= render partial: '/lists/list_header', locals: { list: list } %>
    <%= render partial: '/lists/list', locals: { list: list } %>
    <br><br>
  <% end %>
<% end %>

<%= button_to "Create New List", new_list_path, method: :get %><br>

<%= button_to "Edit Profile", edit_user_path(@user), method: :get %>