<!DOCTYPE html>
<html>
  <head>
    <h1>On Trak</h1>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
    <% if logged_in? %> 
      <%= link_to "Home", '/' %>
      <%= link_to "Log out", logout_path, method: "post" %>
    <% else %>
      <%= link_to "Login", login_path %>
      <a class="navbar-brand" href="/signup">Create User</a>
    <% end %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash[:errors] %>
      <ul style="color:red">
        <% flash[:errors].each do |message| %>
          <li><%= message %></li> 
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
